
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

	<f:flashMessages />

	<f:if condition="{logs -> f:count()} > 0">
		<f:then>
			<h1>Log</h1>

			<table class="tx_hiveextfelogintracking table table-striped">
				<thead class="thead-inverse">
				<tr>
					<th><f:translate key="tx_hiveextfelogintracking_domain_model_log.usergroup" /></th>
					<th><f:translate key="tx_hiveextfelogintracking_domain_model_log.user" /></th>
					<th><f:translate key="tx_hiveextfelogintracking_domain_model_log.page" /></th>
					<th><f:translate key="tx_hiveextfelogintracking_domain_model_log.access" /></th>
				</tr>
				</thead>

				<f:be.widget.paginate objects="{logs}" as="paginatedLogs" configuration="{itemsPerPage: 25, insertAbove: 1, insertBelow: 0, recordsLabel: 'Log-Einträge'}">
					<f:for each="{paginatedLogs}" as="log">
						<tr>
							<td>[{log.usergroup}] {log.usergroupTitle}</td>
							<td>[{log.user}] {log.userTitle}</td>
							<td>[{log.page}] {log.pagePath}</td>
							<td>{log.access -> f:format.date(format: 'd.m.Y - H:i:s')}</td>
						</tr>
					</f:for>
				</f:be.widget.paginate>

			</table>
		</f:then>
		<f:else>
			<div class="alert alert-danger" role="alert">
				<strong>Oh snap!</strong> There are no logs at the current page.
			</div>
		</f:else>
	</f:if>

</f:section>